:root{
    --main-color: #90EE90;
    --white: #FFFFFF;
    --black: #000000;
    font-size: 10px;

}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body{
    background: linear-gradient(135deg, #a7dfae 0%, #69b494 50%, #164727 100%);
    background-size: cover;
    background-attachment: fixed; 
}

section{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #FFFFFF;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    border-bottom: 0.2rem solid rgba(31 120 50);
}

.acesso{
    background:#164727;
    color: #FFFFFF;
    padding: 1rem 3rem;
    font-size: 2.0rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.acesso:hover{
    background-color: var(--main-color);
    height: 4px;
    width: 4px;

}

.header section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1.4;
    padding-bottom: 1.4;
}
.icones-container {
    display: flex;
    gap: 1.5rem; 
    justify-content: center; 
}


.icones-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
}


.icone-busca:hover {
    content: url("https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/90EE90/external-search-love-kmg-design-detailed-outline-kmg-design.png");
    width: 48px;
    height: 48px;  
}

.icone-perfil:hover {
    content: url("https://img.icons8.com/doodle-line/60/90EE90/user.png");
    width: 48px;  
    height: 48px;
}
.navegar a {
    font-size: 1.8rem;
    color: #006400;
    margin: 0 1rem;
    font-family: "DynaPuff", system-ui;;

}

.navegar a:hover  {
    color: var(--main-color);
    font-size: 2.0rem;
    width: 1.8px;
    height: 1.8px;
    transition: all 0.3s ease;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.5); 
    display: flex;
    justify-content: center; 
    border-radius: 10px;

    margin-top: 120px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-height: 400px;
}
.bloco-texto h3{
    color: #164727;
    font-size: 2rem;
    font-family: "DynaPuff", system-ui, sans-serif;
    margin-bottom: 10px;
    margin-top: 40px;
}

.texto-apresentacao {
    font-family: "Gelasio", serif;;
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.6; 
}

.coluna{
    display: flex;
    align-items: center;
    gap: 40px;
}

.img-dogs, .bloco-texto {
    flex: 1; 
}

.mascote{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    margin-top: 45px;
    margin-left: 35px;
}